In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
def vectorize_text(corpus):
    bag_of_words_model = CountVectorizer()
    dense_vec_matrix = bag_of_words_model.fit_transform(corpus).todense()
    bag_of_word_df = pd.DataFrame(dense_vec_matrix)
    bag_of_word_df.columns = sorted(bag_of_words_model.vocabulary_)
    return bag_of_word_df

In [3]:
corpus = ['Data Science is an overlap between Arts and Science',\
         'Generally, Arts graduates are right-brained and '\
         'Science graduates are left-brained',\
         'Excelling in both Arts and Sciencenat a time becomes difficult '\
         'Natural Language Processing is a part of Data Science']
df = vectorize_text(corpus)
df

,an,and,are,arts,becomes,between,both,brained,data,difficult,...,left,natural,of,overlap,part,processing,right,science,sciencenat,time
0,1,1,0,1,0,1,0,0,1,0,...,0,0,0,1,0,0,0,2,0,0
1,0,1,2,1,0,0,0,2,0,0,...,1,0,0,0,0,0,1,1,0,0
2,0,1,0,1,1,0,1,0,1,1,...,0,1,1,0,1,1,0,1,1,1

In [5]:
def bow_top_n(corpus, n):
    bag_of_words_model_small = CountVectorizer(max_features=n)
    bag_of_word_df_small = pd.DataFrame(bag_of_words_model_small.fit_transform(corpus).todense())
    bag_of_word_df_small.columns = sorted(bag_of_words_model_small.vocabulary_)
    return bag_of_word_df_small
df_2 = bow_top_n(corpus, 10)
df_2

   and  are  arts  brained  data  graduates  is  processing  right  science
0    1    0     1        0     1          0   1           0      0        2
1    1    2     1        2     0          2   0           0      1        1
2    1    0     1        0     1          0   1           1      0        1

In [8]:
df_2.shape

(3, 10)