In [1]:
from bs4 import BeautifulSoup
path = path = '/Users/kaylanguyen/Documents/TheNLPWorkshop/Chapter4/'
soup = BeautifulSoup(open(path + 'text_classifier.html'), 'html.parser')
soup.text[:100]

'\n\n\nCh3_Activity7_Developing_end_to_end_Text_Classifiers\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nActivity 7 : Developing '

In [2]:
soup.contents

['html',
 '\n',
 <html>
 <head>
 <title> A sample HTML Page </title>
 </head>
 <body>
 I am staying at <address> Mess on No. 72, Banamali Naskar Lane, Kolkata.</address> <br/>
 <b>Sherlock </b> stays at <address>221B, Baker Street, London, UK.</address> <br/>
 <b>Hamlet</b> said to <b>Horatio</b>, <br/> <q> There are more things in heaven and earth, Horatio, <br/> Than are dreamt of in your philosophy. </q>
 <h1> A table denoting details of students</h1>
 <table>
 <tr>
 <th>name</th>
 <th>qualification</th>
 <th>additional qualification</th>
 <th>other qualification</th>
 </tr>
 <tr>
 <td>Gangaram</td>
 <td>B.Tech</td>
 <td>NA</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ganga</td>
 <td>B.A.</td>
 <td>NA</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ram</td>
 <td>B.Tech</td>
 <td>M.Tech</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ramlal</td>
 <td>B.Music</td>
 <td>NA</td>
 <td>Diploma in Music</td>
 </tr>
 </table>
 </body>
 </html>]

In [2]:
#Use the img tag to count the number of imgages
len(soup.find_all('img'))

3

In [3]:
[i.get_text() for i in soup.find_all('span', attrs={"class": "nn"})]

['pandas',
 'pd',
 'seaborn',
 'sns',
 'matplotlib.pyplot',
 'plt',
 're',
 'string',
 'nltk',
 'nltk.corpus',
 'nltk.stem',
 'sklearn.feature_extraction.text',
 'sklearn.model_selection',
 'pylab',
 'nltk',
 'warnings',
 'sklearn.metrics',
 'sklearn.linear_model',
 'sklearn.ensemble',
 'xgboost']

>To extract the models and their performance, look at the HTML document and see which **class** attribute the models and their perormance belong to. You will the **h2** and **div** tags with the **class** attribute 

>**output_subarea**

>**output_stream**

>**output_stdout**

>**output_text**

In [11]:
for md, i in zip(soup.find_all('h2'), 
                 soup.find_all('div', attrs={"class": "output_subarea output_stream "\
                                            "output_stdout output_text"})):
    print("Model: ", md.get_text())
    print(i.get_text())
    print("-----------------------------------------------------------\n\n\n")

Model:  Logistic Regression¶

confusion matrix:
 [[28705   151]
 [ 1663  1396]]

accuracy:  0.943161522794924

classification report:
               precision    recall  f1-score   support

           0       0.95      0.99      0.97     28856
           1       0.90      0.46      0.61      3059

   micro avg       0.94      0.94      0.94     31915
   macro avg       0.92      0.73      0.79     31915
weighted avg       0.94      0.94      0.93     31915


Area under ROC curve for validation set: 0.911224422146723


-----------------------------------------------------------



Model:  Random Forest¶

confusion matrix:
 [[28856     0]
 [ 2990    69]]

accuracy:  0.9063136456211812

classification report:
               precision    recall  f1-score   support

           0       0.91      1.00      0.95     28856
           1       1.00      0.02      0.04      3059

   micro avg       0.91      0.91      0.91     31915
   macro avg       0.95      0.51      0.50     31915
weighted avg       0.92      0.91      0.86     31915


Area under ROC curve for validation set: 0.8531297215658813


-----------------------------------------------------------



Model:  XG-Boost¶

confusion matrix:
 [[28754   102]
 [ 1965  1094]]

accuracy:  0.935234215885947

classification report:
               precision    recall  f1-score   support

           0       0.94      1.00      0.97     28856
           1       0.91      0.36      0.51      3059

   micro avg       0.94      0.94      0.94     31915
   macro avg       0.93      0.68      0.74     31915
weighted avg       0.93      0.94      0.92     31915


Area under ROC curve for validation set: 0.7768946011682453


-----------------------------------------------------------

In [7]:
table = soup.find('table')
table

<table>
<tr>
<th>name</th>
<th>qualification</th>
<th>additional qualification</th>
<th>other qualification</th>
</tr>
<tr>
<td>Gangaram</td>
<td>B.Tech</td>
<td>NA</td>
<td>NA</td>
</tr>
<tr>
<td>Ganga</td>
<td>B.A.</td>
<td>NA</td>
<td>NA</td>
</tr>
<tr>
<td>Ram</td>
<td>B.Tech</td>
<td>M.Tech</td>
<td>NA</td>
</tr>
<tr>
<td>Ramlal</td>
<td>B.Music</td>
<td>NA</td>
<td>Diploma in Music</td>
</tr>
</table>

In [8]:
for row in table.find_all('tr'):
    columns = row.find_all('td')
    print(columns)

[]
[<td>Gangaram</td>, <td>B.Tech</td>, <td>NA</td>, <td>NA</td>]
[<td>Ganga</td>, <td>B.A.</td>, <td>NA</td>, <td>NA</td>]
[<td>Ram</td>, <td>B.Tech</td>, <td>M.Tech</td>, <td>NA</td>]
[<td>Ramlal</td>, <td>B.Music</td>, <td>NA</td>, <td>Diploma in Music</td>]

In [9]:
table.find_all('tr')[3].find_all('td')[2]